.items{
    background-color:white;
    color:green;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin-top:80px;
    z-index:0;
    height:15rem;
    width:auto;
    display:flex;
    align-items:center;
    justify-content:space-around;   
    
}
.items div{
    border:0.1px; 
    height:150px;
    width:150px;
    overflow:hidden;
    text-align:center;
    
}

.items div:hover{
    box-shadow:0 2px 8px 8px rgba(0, 0, 0, 0.5);
}
.items img {
    height:150px;
    width:150px;

}